body
{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(255, 0, 0);
    justify-content: center;
    padding-top: 50px;    
    display: flex;
}

.container
{
width: 500px;
margin: auto;
background-color: rgb(255, 255, 255);
padding: 20px;
border-radius: 8px;
box-shadow: 0px 0px 100px #ccc;
}

input
{
    width:100%;
    margin-bottom: 15px;
    padding: 8px;
    box-sizing: border-box;
}

button
{
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: #ccc;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:houver{
    background-color: rgb(3, 5, 5);
    color: rgb(255, 7, 7);
    transition: color .5;
}