body
{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: rgb(0, 0, 0);
justify-content: center;
padding-top: 50px;    
display: flex;
@font-face {
    font-family: ;
    src: url(MonsterFriendFore);
}
}


.container
{
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgb(255, 255, 255);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

input 
{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
}

button
{
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor:pointer;
    font-size: 16px;
    transition: 0.3s;
}
button:hover{
    background-color: aliceblue;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.th, td{
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 12px;
    text-align: center;
}

th{
    background-color: rgb(255, 255, 255);
    color: black;
}


.btn-voltar{
display: inline-block;
margin-top: 20px;
text-decoration: none;
color:rgb(0, 0, 0);
font-weight: bold;

.btn-excluir
{
background-color: rgb(0, 0, 0);
color:rgb(0, 0, 0);
padding: 5px 10px;
text-decoration: none;
border-radius: 4px;
font-size: 14px;
}
.btn-excluir:hover
{
    background-color: rgb(0, 0, 0);
}
.btn-editar
{
background-color: rgb(0, 0, 0);
color:rgb(0, 0, 0);
padding: 5px 10px;
text-decoration: none;
border-radius: 4px;
font-size: 14px;
margin-right: 5px;
}
}